@font-face {
  font-family: "NexaBold";
  src: url("/font/NexaBold.otf") format("opentype");
}

@font-face {
  font-family: "NexaLight";
  src: url("/font/NexaLight.otf") format("opentype");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: NexaLight;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #3099BB;
}

hr.light {
  border-color: #fff;
}

a {
  color: #3099BB;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #3099bb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: NexaBold;
}

h3 {
  font-size: 1.5rem;
}

.b-m {
  margin-bottom: 3%;
}

.t-m {
  margin-top: 3%;
}

.bg-primary {
  background-color: #3099BB !important;
}

.bg-dark {
  background-color: #1a1a1a !important;
}

.highlight-dark {
  background-color: #333333;
  color: #3099bb !important;
  border-color: #333333;
}

.navExtra {
  position: relative;
  opacity: 0.6;
  -webkit-transition-duration: 200ms !important;
  transition-duration: 200ms !important;
}

.github {
  left: 2em;
}

.navExtra:hover {
  opacity: 1;
}

.highlight {
  border-radius: 4px;
  border: 1px #333333 solid;
  margin: 15%;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  color: #3099bb !important;
}

.preCode {
  color: #3099bb !important;
}

.text-left {
  text-align: left !important;
}

.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.highlight-dark .c1.c1 {
  color: #1f637a !important;
}

.nexa {
  font-family: NexaBold;
}

.nexa-light {
  font-family: NexaLight;
}

.smallText {
  font-family: NexaLight;
  font-size: 1.2rem;
}

.font-2x {
  font-size: 2rem;
}

.font-1-2x {
  font-size: 1.2rem;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: -10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@-webkit-keyframes aPath1 {
  0% {
    -webkit-transform: translatey(0px) translateX(0px) rotateX(0);
    transform: translatey(0px) translateX(0px) rotateX(0);
  }
  100% {
    -webkit-transform: translatey(-20px) translateX(10px) rotateX(5deg);
    transform: translatey(-20px) translateX(10px) rotateX(5deg);
  }
}

@keyframes aPath1 {
  0% {
    -webkit-transform: translatey(0px) translateX(0px) rotateX(0);
    transform: translatey(0px) translateX(0px) rotateX(0);
  }
  100% {
    -webkit-transform: translatey(-20px) translateX(10px) rotateX(5deg);
    transform: translatey(-20px) translateX(10px) rotateX(5deg);
  }
}

@-webkit-keyframes aPath2 {
  0% {
    -webkit-transform: translatey(0px) translateX(0px) rotateX(0);
    transform: translatey(0px) translateX(0px) rotateX(0);
  }
  100% {
    -webkit-transform: translatey(-20px) translateX(-10px) rotateX(-5deg);
    transform: translatey(-20px) translateX(-10px) rotateX(-5deg);
  }
}

@keyframes aPath2 {
  0% {
    -webkit-transform: translatey(0px) translateX(0px) rotateX(0);
    transform: translatey(0px) translateX(0px) rotateX(0);
  }
  100% {
    -webkit-transform: translatey(-20px) translateX(-10px) rotateX(-5deg);
    transform: translatey(-20px) translateX(-10px) rotateX(-5deg);
  }
}

.path1Animation {
  -webkit-animation: aPath1 6s ease-in-out infinite;
  animation: aPath1 6s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.path2Animation {
  -webkit-animation: aPath2 6s ease-in-out infinite;
  animation: aPath2 6s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #424242;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: white;
}

#mainNav .navbar-nav {
  -webkit-box-align: inherit !important;
  -ms-flex-align: inherit !important;
  align-items: inherit !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #3099BB;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #3099BB !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (max-width: 992px) {
  #mainNav .navExtra {
    display: none;
  }
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #424242;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #3099BB;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

header.masthead {
  padding-top: 3.5rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #1a1a1a !important;
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 3.5rem;
    padding-bottom: calc(10rem - 56px);
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    padding-top: 3.5rem;
    padding-bottom: calc(10rem - 56px);
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(48, 153, 187, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #3099BB !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #3099BB;
  border-color: #3099BB;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #2b88a7 !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
