@font-face {
  font-family: "NexaBold";
  src: url("/font/NexaBold.otf") format("opentype");
}

@font-face {
  font-family: "NexaLight";
  src: url("/font/NexaLight.otf") format("opentype");
}

@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";
