@font-face {
  font-family: "NexaBold";
  src: url("/src/font/nexabold.otf") format("opentype");
}

@font-face {
  font-family: "NexaLight";
  src: url("/src/font/nexalight.otf") format("opentype");
}

@import "variables";
@import "mixins";
@import "global";
@import "navbar";
@import "masthead";
@import "services";
@import "portfolio";
@import "bootstrap-overrides";
